.navbar-brand img {
    width: 40px;
}
p {
    color: gold;
}
h3 {
    color: gold;
}

section {
    background-color:bisque;
}

.main-page img {
    border-radius: 50%;
       
}

.main-page p {
    margin: auto;
}

.card {
    margin: auto auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 18px -1px 57px 1px #9FE85F;
    border-radius: 20px;
    
    
}

.card img {
    width: 400px;
    height: 400px;
    margin: auto;
    border: 2px solid gold;
    border-radius: 20px;
}

footer img {
    width: 40px;
    margin-inline: 20px;
    border: 1px solid gold;
    
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-image: linear-gradient(to right top, #72dcd5, #00bfdd, #009ee8, #0078e8, #2b45cc);
    color:aliceblue;
}

footer a {
    color:antiquewhite;
}
 .card-body {
    color: aquamarine;
    background-image: linear-gradient(to right, #3265cd, #2d51ad, #253e8f, #1b2c72, #101b56);
    border-radius: 15px;
 }

 h1 {
   
    color: aquamarine;
    background-image: linear-gradient(to right, #3265cd, #2d51ad, #253e8f, #1b2c72, #101b56);
        
 }

 .carousel-inner img {
    width: 400px;
    height: 400px;
 }

 


 .center, .right-text, .left-text {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .carousel-section, .main-page {
    background-image: linear-gradient(to right, #3b68ac, #006189, #005155, #003d26, #1d2805);
 }

 .carousel-item img {
    border: 2px solid gold;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
 }

 p a {
    color:aquamarine
 }

 .right-text, .middle-text {
    background-image: linear-gradient(to right, #3b68ac, #006189, #005155, #003d26, #1d2805);
 }
 